@model IptvSaless.Models.ListViewPlans
@{

}

<!-- CONTENT =============================-->
<section class="item content">
    <div class="container toparea">
        <div class="underlined-title">
            <div class="editContent">
                <h1 class="text-center latestitems">OUR PRODUCTS</h1>
            </div>
            <div class="wow-hr type_short">
                <span class="wow-hr-h">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </span>
            </div>
        </div>
     
        <div class="row">
            @foreach (var item in Model.plans)
            {

                <div class="col-md-4">
                    <div class="productbox">
                        <div class="fadeshop">
                            <div class="captionshop text-center" style="display: none;">
                                <h3>@item.name</h3>
                                <p>
                                    @item.description
                                </p>
                                <p>
                                    <a href="#" class="learn-more detailslearn"><i class="fa fa-shopping-cart"></i> Purchase</a>
                                    <a href="#" class="learn-more detailslearn"><i class="fa fa-link"></i> Details</a>
                                </p>
                            </div>
                            <span class="maxproduct"><img src="@Url.Action("GetImage", "Plan", new { item.id })"></span>
                        </div>
                        <div class="product-details">
                            <a href="@Url.Action("Details", "Plan",new {id = item.id })">
                                <h1> @item.name</h1>
                            </a>
                            <span class="price">
                                <span class="edd_price">@item.price.ToString("c")</span>
                            </span>
                        </div>
                    </div>
                </div>
            }
        </div>
        

</section>


